@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  /* inject your own custom utility classes into the components layout */
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }
}

/* For the react-date-range container next to the left calendar in the header */
.rdrDefinedRangesWrapper {
  display: none;
}

/* from https://preview.themeforest.net/item/villahoya-villa-vacation-rental-elementor-template-kit/full_screen_preview/42974897?_ga=2.232449052.2067628974.1697604972-156093427.1695569464 */
